*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
}

html {
    scroll-behavior: smooth;
}

p {
    font-size: 1.8rem;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font-family: inherit;
}

button {
    border: none;
    cursor: pointer;
}

textarea {
    resize: vertical;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    min-height: 100vh;
    background-color: #0d192b;
}

.wrapper {
    padding: 24px 25px 24px 24px;
    max-width: 20.4375rem;
    background-color: #15263f;
    border-radius: 15px;
}

.nft-name {
    margin-top: 24px;
    font-size: 1.375rem;
}
.nft-name a {
    font-weight: 600;
    color: #ffffff;
}
.nft-name a:hover {
    cursor: text;
}

.description {
    margin-top: 12px;
    line-height: 26px;
    font-size: 1.125rem;
    font-weight: 300;
    color: #8bacd9;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
}

.eth-balance,
.counter {
    display: flex;
}

.eth-balance,
.counter {
    gap: 1ch;
}

.eth-balance p {
    font-size: 0.9375rem;
    font-weight: 600;
    color: #00fff8;
}
.eth-balance img {
    width: 0.6875rem;
    height: 1.125rem;
}

.counter p {
    font-size: 15px;
    font-weight: 400;
    color: #8bacd9;
}
.counter img {
    margin-top: 0.125rem;
    width: 1rem;
    height: 1rem;
}

button:focus-visible,
a:focus-visible {
    outline: solid #fff 3px;
    outline-offset: 0.25em;
}

.line {
    height: 1px;
    background-color: #2f415b;
    border: none;
}

.signature {
    display: flex;
    align-items: center;
    margin-top: 16px;
    gap: 1rem;
}

.avatar {
    flex-shrink: 0;
    width: 2.0625rem;
    height: 2.0625rem;
    border-radius: 50%;
    border: 1px solid #ffffff;
}

.created-by {
    color: #8bacd9;
}
.created-by p {
    font-size: 0.9375rem;
    font-weight: 400;
}
.created-by .author a {
    color: #ffffff;
    cursor: text;
}

.btn-overlay {
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

button {
    all: unset;
    cursor: pointer;
}

.btn-overlay::after,
.btn-overlay::before {
    content: "";
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease-out;
}

.btn-overlay::after {
    top: 0;
    left: 0;
    background-color: rgba(0, 255, 248, 0.5);
    z-index: 1;
}

.btn-overlay::before {
    background-image: url("../images/icon-view.svg");
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
}

.btn-overlay:hover::after,
.btn-overlay:hover::before {
    opacity: 1;
}

@media (min-width: 37.5rem) {
    .wrapper {
        max-width: 21.875rem;
        padding: 24px 24px 32px;
    }
    .nft-name a {
        color: #ffffff;
        margin-bottom: 16px;
    }
    .description {
        margin-top: 16px;
        line-height: 26px;
    }
    .container {
        margin: 24px 0;
    }
    .eth-balance p {
        font-size: 1rem;
    }
    .counter p {
        font-size: 1rem;
    }
    .created-by p {
        font-size: 1rem;
    }
    .author,
    .nft-name {
        transition: color 0.3s;
    }
    .author a:hover,
    .nft-name a:hover {
        color: #00fff8;
        cursor: pointer;
    }
}/*# sourceMappingURL=main.css.map */