@use "./reset" as *;
@use "./colors" as *;

body {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	min-height: 100vh;
	background-color: $very-dark-blue-main-bg;
}

.wrapper {
	padding: 24px 25px 24px 24px;
	max-width: rem(327px);
	background-color: $very-dark-blue-card-bg;
	border-radius: 15px;
}

// .nft-picture {
// 	border-radius: 8px;
// }

.nft-name {
	margin-top: 24px;
	font-size: rem(22px);
	a {
		font-weight: 600;
		color: $white;
		&:hover {
			cursor: text;
		}
	}
}

// .overlay {
// 	display: none;
// }

.description {
	margin-top: 12px;
	line-height: 26px;
	font-size: rem(18px);
	font-weight: 300;
	color: $soft-blue;
}

.container {
	display: flex;
	justify-content: space-between;
	margin: 16px 0;
}

.eth-balance,
.counter {
	display: flex;
}
.eth-balance,
.counter {
	gap: 1ch;
}

.eth-balance {
	p {
		font-size: rem(15px);
		font-weight: 600;
		color: $cyan;
	}

	img {
		width: rem(11px);
		height: rem(18px);
	}
}

.counter {
	p {
		font-size: (15px);
		font-weight: 400;
		color: $soft-blue;
	}

	img {
		margin-top: rem(2px);
		width: rem(16px);
		height: rem(16px);
	}
}

button:focus-visible,
a:focus-visible {
	outline: solid #fff 3px;
	outline-offset: 0.25em;
}

.line {
	height: 1px;
	background-color: $very-dark-blue-line;
	border: none;
}

.signature {
	display: flex;
	align-items: center;
	margin-top: 16px;
	gap: 1rem;
}

.avatar {
	flex-shrink: 0;
	width: rem(33px);
	height: rem(33px);
	border-radius: 50%;
	border: 1px solid $white;
}

.created-by {
	color: $soft-blue;
	p {
		font-size: rem(15px);
		font-weight: 400;
	}
	.author a {
		color: $white;
		cursor: text;
	}
}
.btn-overlay {
	background: none;
}

.nft-picture {
	border-radius: 22px;
}
// .img-container {
// 	// width: 302px;
// 	// height: 302px;
// 	width: 100%;
// 	border-radius: 22px;
// 	overflow: hidden;
// }

.btn-overlay {
	display: block;
	position: relative;
	overflow: hidden;
	border-radius: 8px;
}

button {
	all: unset;
	cursor: pointer;
}

.btn-overlay::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 22px;
	opacity: 0;
	width: 100%;
	height: 100%;
	background-color: rgba($cyan, 0.5);
}

.btn-overlay::before {
	content: "";
	background-image: url("../images/icon-view.svg");
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	opacity: 0;
}

.btn-overlay:hover::after,
.btn-overlay:hover::before {
	opacity: 1;
}

@media (min-width: rem(600px)) {
	.wrapper {
		max-width: rem(350px);
		padding: 24px 24px 32px;
	}

	.nft-name a {
		color: $white;
		margin-bottom: 16px;
	}

	.description {
		margin-top: 16px;
		line-height: 26px;
	}

	.container {
		margin: 24px 0;
	}

	.eth-balance {
		p {
			font-size: 1rem;
		}
	}

	.counter {
		p {
			font-size: 1rem;
		}
	}

	.created-by {
		p {
			font-size: 1rem;
		}
	}

	.author,
	.nft-name {
		transition: color 0.3s;
	}

	.author a,
	.nft-name a {
		&:hover {
			color: $cyan;
			cursor: pointer;
		}
	}

	// .img-container {
	// 	position: relative;
	// 	// &:hover .overlay {
	// 	// 	cursor: pointer;
	// 	// 	opacity: 1;
	// 	// }
	// }

	// .overlay {
	// 	display: block;
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	opacity: 0;
	// 	width: 100%;
	// 	height: 100%;
	// 	border-radius: 8px;
	// 	transition: opacity 0.3s;
	// }

	// .view-icon {
	// 	position: absolute;
	// 	top: 50%;
	// 	left: 50%;
	// 	transform: translate(-50%, -50%);
	// 	opacity: 0;
	// }

	// .btn-overlay {
	// 	width: 100%;
	// 	height: 100%;
	// 	background-color: red;
	// 	border-radius: 8px;
	// 	z-index: 12;
	// }
}
